* {
    box-sizing: border-box;
}

body {
    background: #8e9eab;  
    margin: 0;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: #cccccc;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    text-align: center;
    vertical-align: baseline;
    height: 45px;
    border-top: 8px solid #4aaaa5;
    padding: 10px;
}

form {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

h1 {
    background: #ffffff;
    color: #4aaaa5;
    font-family: 'Georgia', Times, Georgia, 'Times New Roman', Times, serif;
    border-bottom: 3px solid #cccccc;
}

header {
    background: #4aaaa5;
    width: 100px;
    height: 25px;
    text-align: center;
    color: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    position: relative;
    top: 90px;
}

img { 
    float: left;
    padding-top: 1%;
    padding-bottom: 10%;
    height: 100px; 
    width: 100px;
    flex-grow: 1;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid lightgray;
    box-sizing: border-box;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

input[type=button], input[type=submit] {
    background-color: #4aaaa5;
    border: none;
    color: #ffffff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 100px;
}

p {
    align-content: top;
    line-height: 20px;
    color: #777777;
    padding-bottom: 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

table {
    width: 65%; 
}

textarea {
    width: 100%; 
    height: 150px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    border-color: #cccccc;
}

.active {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.active a {
    border-right: 1px solid black;
}

.active a:last-child {
    border-right: none;
}

.mainSection { 
    background: #ffffff;
    border: 2px solid #dddddd;
    margin: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2%;
    width: 75%;
    /* text-align: left; */
    align-content: left;
    align-items: left;
    justify-content: left;
}

.topnav {
    margin: 0;
    padding: 0;
    height: 50px;
    width: 100%;
    overflow: hidden;
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
    font-family: 'Georgia', Times, Georgia, 'Times New Roman', Times, serif;
}

.topnav2 {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.topnav2 a {
    width: 100px;
    justify-content: space-between;
    color: #777777;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    float: right;
    justify-content: center;
}

.topnav2 a:hover {
    background-color: #4aaaa5;
    color: white;
}

#aboutMe {
    padding-right: 2%;
    padding-bottom: 1%;
    height: 200px;
    width: 175px;
}

#label {
    float: left;
    height: 100%;
    align-items: left;
    justify-content: center;
    background-color: #4aaaa5;
    color: white;
}

#lastP {
    margin-bottom: 70px;
}


@media screen and (min-width: 980px) {
    header {
        background: #4aaaa5;
        width: 175px;
        height: 30px;
        text-align: center;
        top: 170px;
    }
    
    img { 
        float: left;
        padding-top: 1%;
        padding-bottom: 10%;
        height: 175px; 
        width: 175px;
    }

    p {
        align-content: top;
        line-height: 20px;
        color: #777777;
        padding-bottom: 10px;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    }
    
    .active {
        display: flex;
        height: 100%;
        align-items: center;
        float: right;
        justify-content: center;
        text-align: center;
    }

    .active a {
        border-right: 1px solid black;
    }

    .active a:last-child {
        border-right: none;
    }

    .mainSection { 
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 2%;
        width: 100%;
        padding-top: 1%;
        padding-right: 2%;
        padding-bottom: 2%;
        padding-left: 2%;
        text-align: left;
        align-content: left;
        align-items: left;
        justify-content: left;
    }

    .topnav {
        margin: 0;
        padding: 0;
        height: 50px;
        width: 100%;
        overflow: hidden;
        background: #ffffff;
        border-bottom: 2px solid #cccccc;
    }

    .topnav2 {
        height: 100%;
        margin: 0 auto;
    }

    .topnav2 a {
        justify-content: space-between;
        color: #777777;
        text-align: center;
        text-decoration: none;
        display: flex;
        align-items: center;
        float: right;
        justify-content: center;
    }

    .topnav2 a:hover {
        background-color: #4aaaa5;
        color: white;
    }

    #aboutMe {
        padding-right: 2%;
        padding-bottom: 1%;
        height: 500px;
        width: 175px;
    }

    #label {
        float: left;
        height: 100%;
        align-items: left;
        justify-content: center;
        background-color: #4aaaa5;
        color: white;
    }

    #one {
        background: #4aaaa5;
        width: 180px;
        height: 30px;
        text-align: center;
        top: 150px;
        position: relative;
    }

    #two {
        background: #4aaaa5;
        width: 180px;
        height: 30px;
        text-align: center;
        top: 150px;
        position: relative;
    }


    #three {
        background: #4aaaa5;
        width: 180px;
        height: 30px;
        text-align: center;
        top: 150px;
        position: relative;
    }

    #four {
        background: #4aaaa5;
        width: 180px;
        height: 30px;
        text-align: center;
        top: 150px;
        position: relative;
    }

    #five {
        background: #4aaaa5;
        width: 180px;
        height: 30px;
        text-align: center;
        top: 150px;
        position: relative;
    }
}

@media screen and (max-width: 768px) {
    

    header {
        background: #4aaaa5;
        color: white;
        width: 175px;
        height: 30px;
        text-align: center;
        top: 170px;
    }
    
    img { 
        float: left;
        padding-top: 1%;
        padding-bottom: 10%;
        padding-right: 10%;
        height: 200px; 
        width: 200px;
        flex-grow: 1;
    }

    p {
        align-content: top;
        line-height: 20px;
        color: #777777;
        padding-bottom: 10px;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    }

    .active {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .active a {
        border-right: 1px solid black;
    }

    .active a:last-child {
        border-right: none;
    }

    .mainSection { 
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 2%;
        width: 75%;
        padding-top: 1%;
        padding-right: 2%;
        padding-bottom: 2%;
        padding-left: 2%;
        text-align: left;
        align-content: center;
        align-items: center;
        justify-content: center;
        /* display: flex; */
    }

    .topnav {
    margin: 0;
    padding: 0;
    height: 50px;
    width: 100%;
    overflow: hidden;
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
    font-family: 'Georgia', Times, Georgia, 'Times New Roman', Times, serif;
}

.topnav2 {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.topnav2 a {
    width: 100px;
    justify-content: space-between;
    color: #777777;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    float: right;
    justify-content: center;
}

.topnav2 a:hover {
    background-color: #4aaaa5;
    color: white;
}

        #label {
        float: left;
        height: 100%;
        align-items: left;
        justify-content: center;
        background-color: #4aaaa5;
        color: white;
    }

    #one {
        background: #4aaaa5;
        width: 180px;
        height: 30px;
        text-align: center;
        top: 150px;
        position: relative;
    }

    #two {
        background: #4aaaa5;
        width: 180px;
        height: 30px;
        text-align: center;
        top: 150px;
        position: relative;
    }


    #three {
        background: #4aaaa5;
        width: 180px;
        height: 30px;
        text-align: center;
        top: 150px;
        position: relative;
    }

    #four {
        background: #4aaaa5;
        width: 180px;
        height: 30px;
        text-align: center;
        top: 150px;
        position: relative;
    }

    #five {
        background: #4aaaa5;
        width: 180px;
        height: 30px;
        text-align: center;
        top: 150px;
        position: relative;
    }

   

}

@media screen and (max-width: 640px) {
    * {
        box-sizing: border-box;
    }

    footer {
        height: 60px;
    }
    
    header {
        background: #4aaaa5;
        color: white;
        width: 175px;
        height: 30px;
        text-align: center;
        display: inline-block;
        /* top: 40%; */
        /* position: fixed; */
    }

    img { 
        padding-top: 1%;
        padding-bottom: 10%;
        height: 175px; 
        width: 175px;
    }

    p {
        /* align-content: top; */
        line-height: 20px;
        color: #777777;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        margin: 0 auto;
        display: block;
        flex-grow: 1;
    }

    table, thead, tbody, th, td, tr { 
		display: block; 
	}
    
    .active {
        flex-grow: 1;
        align-items: center;
        width: 100%;
        display: block;
        display: flex;
        height: 100%;
        justify-content: center;
        text-align: center;
    }

    .active a {
        border-right: 1px solid black;
    }

    .active a:last-child {
        border-right: none;
    }

    .mainSection { 
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 2%;
        width: 75%;
        height: 1200px;
        padding-top: 1%;
        padding-right: 2%;
        padding-bottom: 2%;
        padding-left: 2%;
        /* text-align: left; */
        align-content: center;
        align-items: center;
        justify-content: center;
    }

    .topnav {
        margin: 0;
        padding: 0;
        height: 100px;
        width: 100%;
        overflow: hidden;
        background: #ffffff;
        border-bottom: 2px solid #cccccc;
        position: static;
        display: flex;
        width: 100%;
    }

    .topnav2 {
        height: 50px;
        margin: 0 auto;
        position: static;
        display: flex;
        width: 100%;
        display: block;
    }

    .topnav2 a {
        justify-content: space-between;
        color: #777777;
        text-align: center;
        text-decoration: none;
        display: flex;
        align-items: center;
        float: right;
        justify-content: center;
        position: static;
    }

    .topnav2 a:hover {
        background-color: #4aaaa5;
        color: white;
    }

    #aboutMe {
        padding-right: 2%;
        padding-bottom: 1%;
        height: 500px;
        width: 100%;
        justify-items: center;
        margin-bottom: 10px;
        align-content: center;
        align-items: center;
    }

    #label {
        width: 100%;
        height: 100%;
        justify-content: center;
        background-color: #4aaaa5;
        color: white;
    }

    #one {
        background: #4aaaa5;
        width: 150px;
        height: 30px;
        text-align: center;
        top: 130px;
        position: flex;
    }

    #two {
        background: #4aaaa5;
        width: 150px;
        height: 30px;
        text-align: center;
        top: 130px;
        position: flex;
    }


    #three {
        background: #4aaaa5;
        width: 150px;
        height: 30px;
        text-align: center;
        top: 130px;
        position: flex;
    }

    #four {
        background: #4aaaa5;
        width: 150px;
        height: 30px;
        text-align: center;
        top: 130px;
        position: relative;
    }

    #five {
        background: #4aaaa5;
        width: 150px;
        height: 30px;
        text-align: center;
        top: 130px;
        position: relative;
    }

    #test {
        margin: 10px;
        display: block;
        flex-grow: 1;
    }
}
